.navbar-expand-lg .navbar-collapse {
  justify-content: end !important;
}

.pt-4 {
  padding-top: 6rem;
}

.pt {
  padding-top: 6rem !important;
}
.btnbg {
  background: rgb(211, 211, 211) !important;
}

.p {
  display: flex;
  text-align: justify;
}
.img {
  width: 200px;
  height: 200px;
}

.pt-10 {
  padding-top: 4.25rem !important;
}

.mr {
  margin-right: 68rem !important;
}
